.step-number {
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #3b7dec;
    color: white;
    
    margin: 0 auto;
    margin-bottom: 15px;
}
.step-text {
    font-size: 16px;
    color: #555555;
}

.flex-row {
    display: flex;
    align-items: center;
}
