/* Fonts */
$font-stack: 'Oxygen', sans-serif;

/* Colors */
$c-primary: #4286f4;

$background-image: url("../_images/background_2.jpeg");

$container-transparency: .9;
$container-vertical-padding: 15px;
$container-border-radius: 5px;

body {
    font-family: $font-stack;
    background-image: $background-image;
    background-size: cover;
}
.container {
    background-color: rgba(255, 255, 255, $container-transparency);
    padding-bottom: $container-vertical-padding;
    padding-top: $container-vertical-padding;
    border-radius: $container-border-radius;
}

.tooltip {
    z-index: 9999;
}

/* Bootstrap overrides */
$brand-primary:         $c-primary;

/*$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;*/

$hr-border: lighten(black, 85%);

$icon-font-path: '../bootstrap-assets/fonts/bootstrap/';
@import "../bootstrap-assets/stylesheets/bootstrap";
